fastapi
uvicorn[standard]
python-multipart
pydantic[email]
opencv-python-headless
rembg[cpu]
Pillow
numpy
mediapipe
requests
stripe
python-dotenv
sqlalchemy
asyncpg
greenlet
gradio-client
replicate
python-jose[cryptography]
passlib[bcrypt]
