fastapi
uvicorn
python-multipart
pydantic
email-validator
opencv-python-headless
rembg
Pillow
numpy
mediapipe
requests
stripe
python-dotenv
sqlalchemy
aiomysql
asyncpg
greenlet
gradio-client
python-jose[cryptography]
passlib[bcrypt]
